@use '../utils/variables.scss' as *;

.button {
	background-color: $main-accent;
	color: white;
	border: none;
	height: 56px;
	width: 280px;
	font-family: 'Cinzel';
	font-weight: 700;
	font-style: Bold;
	font-size: 16px;
	text-align: center;

	&--medium {
			@media (min-width: 744px) {
			width: 392px;
		}
	}



	&:hover {
		background-color: #AE1C23;
	}

	&:active {
		background-color: #EB343D;
	}

	@media (min-width: 1260px) {
		width: 100%;
	}
}
