@use '../utils/mixins.scss' as *;

.contact {
	&__title {
		font-family: 'Cinzel';
		font-weight: 700;
		font-style: Bold;
		font-size: 32px;
		letter-spacing: -1.5px;
		text-align: center;
		grid-row: 1/2;
		grid-column: 5/9;
	}

	&__address {
		margin-top: 48px;
	}

	&__form {
		margin-top: 48px;
		grid-column: 8/13;
	}

	&__frame {
		grid-row: 2/3;
		grid-column: 1/13;
		@media (min-width: 744px) {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
		}
	}

	

	@media (min-width: 1260px) {
		@include grid;
		grid-template-rows: repeat(2, auto);

		// &__frame {	display: flex;
		// 	flex-direction: column;

		// }

		&__frame {
		display: grid;
		grid-auto-flow: column;
		}

		&__box {
			display: grid;
			grid-auto-flow: column;
			grid-column: 1/4;
		}
	}
}


// do 6 a drugie od 8