@use '../utils/variables.scss' as *;


.content {

    &__hours {
        padding: $section-padding;
    }

    &__view {
        padding: $section-padding;
    }

    &__online {
        padding: $section-padding;
    }

    &__contact {
        padding: $section-padding;
    }
}