@use '../utils/variables.scss' as *;

.content {
	&__hours {
		padding: $section-padding;

		@media (min-width: 744px) {
			padding: $section-padding-medium;
		}
		@media (min-width: 1260px) {
			padding: $section-padding-high;
		}
	}

	&__view {
		padding: $section-padding;

		@media (min-width: 744px) {
			padding: $section-padding-medium;
		}
		@media (min-width: 1260px) {
			padding: $section-padding-high;
		}
	}

	&__online {
		padding: $section-padding;

		@media (min-width: 744px) {
			padding: 144px 172px 0 172px;
		}
		@media (min-width: 1260px) {
			padding: $section-padding-high;
		}
	}

	&__contact {
		padding: $section-padding;
		margin-bottom: 100px;

		@media (min-width: 744px) {
			padding: $section-padding-medium;
			margin-bottom: 156px;
		}
		@media (min-width: 1260px) {
			padding: $section-padding-high;
		}
	}
}
