.link {
    padding: 40px 0 32px 0;

    &__list {
       
        gap: 32px;
        display: flex;
        flex-direction: column;
    }

    &__item {
      
        // &:hover {
        //     background-color: greenyellow;
        // }
    }

    &__anchor {
        font-size: 22px;
        text-decoration: none;
        color: inherit;
        border-bottom: 1px solid transparent;

        &:hover {
            border-bottom: 1px solid white;
        }
    }
}