@use '../utils/mixins.scss' as *;

.navigation {
	display: flex;
	justify-content: flex-end;
	align-items: center;

	&__icons {
		display: inline-block;
		margin-right: auto;
	}

	&__box {
		display: none;
		transition: background-color 0.3s ease;

		font-family: 'Cinzel';
		font-weight: 700;
		font-style: Bold;
		font-size: 16px;
		line-height: 27px;
		color: white;
		
	}

	&__data {
		color: white;
		text-decoration: none;
	}

	&__name {
		display: inline-block;
		font-family: 'Cinzel';
		color: white;
		width: 64px;
		font-size: 32px;
		font-weight: bold;
	}

	&__icon {
		height: 24px;

		@media (min-width: 744px) {
			height: 32px;
		}

		&--hidden {
			opacity: 0;
		}
		&--margin {
			margin-left: 24px;

			@media (min-width: 744px) {
				height: 24px;
			}
		}
	}

	@media (min-width: 1260px) {
		height: 110px;
		// @include grid;

		&:has(.navigation__icon:hover) &__box {
			display: block;
		}


	}
}
