@use '../utils/variables.scss' as *;
@use '../utils/mixins.scss' as *;

.online {
	&__title {
		font-family: 'Cinzel';
		font-weight: 700;
		font-style: Bold;
		font-size: 32px;
		line-height: 32px;
		letter-spacing: -1.5px;
		text-align: center;
		margin-bottom: 40px;
		grid-row: 1/2;

		@media (min-width: 744px) {
			font-size: $title-medium;
			line-height: $title-medium;
			margin-bottom: 48px;
		}
	}

	@media (min-width: 1260px) {
		@include grid;
		grid-template-rows: repeat(2, auto);

		&__title {
			grid-column: 4/9;
			width: 500px;
		}
	}
}
