.open {
	&__headline {
		font-family: 'Cinzel Decorative';
		font-weight: 700;
		font-style: Bold;
		font-size: 24px;
	}

	// &__position-top {
		
	// }
	// &__position-bottom {
		
	// }
	&__left {
		font-family: 'Cinzel Decorative';
		font-weight: 700;
		font-style: Bold;
		font-size: 16px;
	}
	&__right {
		font-family: 'Cinzel Decorative';
		font-weight: 400;
		font-size: 16px;
	}
}
