.open {

	@media (min-width: 744px) {
		width: 288px;
	}
	@media (min-width: 1260px) {
		width: 100%
	}

	&__headline {
		font-family: 'Cinzel';
		font-weight: 700;
		font-style: Bold;
		font-size: 24px;
		letter-spacing: 0;
		margin-bottom: 16px;
	}

	&__position-top {
		display: flex;
		gap: 24px;
		margin-bottom: 16px;
	}
	&__position-bottom {
		display: flex;
		flex-direction: column;
		gap: 8px;
	}

	&__box {
		display: flex;
		flex-direction: column;
		gap: 8px;
	}
	&__left {
		font-family: 'Cinzel';
		font-weight: 700;
		font-style: Bold;
		font-size: 16px;
	}
	&__right {
		font-family: 'Cinzel';
		font-weight: 400;
		font-size: 16px;
	}
}
