.view {
	&__title {
		font-family: 'Cinzel';
		font-weight: 700;
		font-style: Bold;
		font-size: 32px;
		text-align: center;
        margin-bottom: 8px;
	}
	&__description {
		font-family: 'Cinzel';
		font-weight: 400;
		font-size: 16px;
		line-height: 27px;
		text-align: center;
	}
	&__main {
		margin: 48px 0 40px 0;
		display: flex;
		flex-direction: column;
		gap: 48px;
	}
	// &__gallery {

	// }
	// &__button {

	// }
}
