@use '../utils/variables.scss' as *;
@use '../utils/mixins.scss' as *;

.view {

	&__title {
		font-family: 'Cinzel';
		font-weight: 700;
		font-style: Bold;
		font-size: 32px;
		text-align: center;
        margin-bottom: 8px;
		grid-row: 1/2;
		grid-column: 4/10;

		@media (min-width: 744px) {
			font-size: $title-medium;
		}
	}
	&__description {
		font-family: 'Cinzel';
		font-weight: 400;
		font-size: 16px;
		line-height: 27px;
		text-align: center;
		grid-row: 2/3;
		grid-column: 4/10;

				@media (min-width: 744px) {
			width: 392px;
			margin: 0 auto;
		}
				@media (min-width: 1260px) {
			width: 325px;
			margin: 0 auto;
		}
	}
	&__main {
		margin: 48px 0 40px 0;
		display: flex;
		flex-direction: column;
		gap: 48px;
		grid-row: 3/6;
		grid-column: 1/13;
	}

	&__button {
		display: block;
		margin: 0 auto;
		grid-row: 6/7;

	}

	@media (min-width: 1260px) {
		@include grid;
		grid-template-rows: repeat(6, auto);

		&__button {
			grid-column: 5/9;
		}

	}
}
