@use '../utils/variables.scss' as *;

@mixin hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;

	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

@mixin input {
	background-color: $input-accent;
	box-sizing: border-box;
	font-family: 'Cinzel';
	font-weight: 400;
	font-size: 14px;
	width: 100%;
	padding: 14px 0;
	padding-left: 11px;
	border: none;
}

@mixin grid {
	display: grid;
	grid-template-columns: repeat(12, 63px);
	gap: 24px;
	
}
